<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vizualizare cos de cumparaturi</title>
    <link rel="stylesheet" type="text/css" href="..\css\style.css" />
</head>
<body>
    <div class = "container">
        <h1>Coșul tău de cumpărături</h1>
        <ul class = "myUL">
            <% cosCumparaturi.forEach(prod => { %>
                <% console.log (prod) %>
                <li>
                    <strong>Nume: </strong> <%= prod.nume %> <br>
                    <strong>Preț: </strong> <%= prod.pret %> lei
                </li> <br>
            <% }); %>
        </ul>
    </div>
</body>
</html>